.d-flex{
    display: flex;
}

.main-wrap{
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
div{
    box-sizing: border-box;
}

h1, p {
    margin: 0;
}


/****** Home Area ******/
.home-movie-box{
    height: calc(100% - 600px);
}


/****** Movie Detail Area ******/
.movie-detail-container{
    width: 100%;
    height: 100%;
    padding-top: 30px;
}
.movie-info-wrap{
    width: 100%;
}
.movie-box{
    width: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.movie-bg-img{
    width: 300px;
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.movie-info{
    width: 50%;
    padding: 20px;
    flex-direction: column;
}
.movie-main{
    padding: 20px 0;
}
.movie-main h1 {
    font-size: 65px;
    font-weight: 400;
    padding: 10px 0;
}
.movie-main p{
    font-size: 25px;
    padding: 0 0 20px 0;
}
.icon-box {
    width: auto;
    padding-right: 20px;
    text-align: start;
}
.icon-box span {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
}
.span-box{
    width: auto;
    text-align: start;
    padding-right: 20px;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
    color: #b02a37;
    letter-spacing: -1px;
}

.movie-overview{
    padding: 30px 0;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.movie-etc{
    padding: 20px 0;
    border-bottom: 3px solid #fff;
}
.etc-item{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.etc-item .badge-box{
    font-weight: 400;
    width: 100px;
    font-size: 15px;
    margin-right: 10px;
}
.etc-item p{
    letter-spacing: -1.2px;
}
.movie-video{
    display: flex;
    color: #fe4536;
    padding: 25px 10px;
    cursor: pointer;
}
.movie-video p {
    font-size: 16px;
    margin-left: 7px;
}
.movie-great{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid;
    cursor: pointer;
}
.red{
    color: #b02a37;
}
.movie-great:hover {
    color: #b02a37;
}

.sub-btn-wrap{
    width: 100%;
    padding: 30px;
    margin-top: 20px;
    /* border: 1px solid; */
}
.sub-btn-wrap button {
    padding: 20px;
    border-radius: 10px;
    margin: 0 5px;
    font-size: 15px;
    color: #747691;
    border: 1px solid #ecedff;
    background-color: lightgray;
    cursor: pointer;
}
.click {
    color: white !important;
    border: 1px solid #fff !important;
    background-color: #fe4536 !important;
}

.movie-review-wrap{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid;
}
.review-container{
    display: block;
    width: 100%;
    height: 150px;
    padding-top: 5px;
    border-bottom: 1px solid #eee;
}
.review-author{
    height: 25px;
    padding-top: 3px;
    color: #eee;
    font-weight: 500;
}
.review-author p {
    padding: 0 10px;
}
.review-content{
    height: calc(100% - 55px);
    padding: 5px 10px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 15px;
    font-weight: 300;
}
.review-more{
    height: 25px;
    text-align: end;
}
.review-container button{
    font-size: 15px;
    color: white;
    border-radius: 5px;
    background-color: #fe4536;
    cursor: pointer;
}
.review-container.close {
    height: 250px;
}

.movie-recommand-list-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    margin-top: 20px;
    border: 2px solid;
}
.recommand-list{
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.recommand-list:hover{
    overflow: visible;
}
.overlay {
    padding: 0;
}

/***** Movide Detail Video Modal *****/
.modal-wrap{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color:rgba(44, 44, 44, 0.95);
}
.video-modal{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.close-btn{
    width: 100%;
    text-align: right;
    padding: 10px;
    color: #b02a37;
}

/*****************************************************************/

/****** Movie Page Area ******/
.movie-page-container{
    width: 100%;
    height: auto;
    padding: 20px 0;
    /* border: 1px solid red; */
}
.movie-filter-box{
    width: 35%;
    height: 100%;
    /* padding: 10px; */
    margin-bottom: 10px;
    /* border: 1px solid blue; */
}
.movie-container{
    width: 65%;
    flex-direction: column;
    /* border: 1px solid seagreen; */
}
.movie-list-box{
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 1px solid orange; */
}
.movie-pagiNation-box{
    justify-content: flex-end;
    padding: 5px;
    /* border: 1px solid blue; */
}
.pagiNation-box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 23px;
    font-weight: bold;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.pagiNation-box:hover {
    background: #ffffff;
}
.page-moveBtn{
    font-size: 18px;
    background: linear-gradient(60deg,#f79533,#fff)!important;
}
.page-number{
    background: linear-gradient(60deg,#f79533,#dc143c,#000);
}
.page-number:focus {
    background-color: linear-gradient(60deg, #f79533, #ffffff);
}

.list-wrap{
    position: relative;
    width: 48%;
    height: 500px;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    padding: 25px;
    margin-bottom:25px;
    box-shadow: -1px -1px 8px #fcd0bf;
    cursor: pointer;
    transition: all 0.5s;
    /* border: 1px solid; */
}
.list-wrap::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    content: '';
    background: linear-gradient(to right, black,  transparent);
}
.list-wrap:hover {
    width: 50%;
    height: 550px;
}

.contents-box{
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
}
.title-wrap{
    align-items: center;
    /* border: 1px solid; */
}
.poster-box{
    width: 60px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 8px;
    /* border: 1px solid; */
}
.title-wrap h2 {
    margin: 5px 0;
    font-weight: 400;
}
.title-wrap p{
    margin: 0;
    font-size: 14px;
    color: #9ac7fa;
}
.badge-wrap{
    width: 100%;
    flex-wrap: wrap;
    padding-top: 10px;
    /* border: 1px solid; */
}
.badge-wrap .badge-box{
    margin: 5px 2px 2px 2px;
    /* border: 1px solid red; */
}
.list-overview{
    width: 50%;
    height: 170px;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin-top: 15px;
    word-break: break-all; 
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* border: 1px solid; */
}
.list-sub-info{
    /* border: 1px solid; */
}
.list-sub-info .movie-sub-div{
    padding: 0;
}
.list-sub-info .icon-box {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

/*****************************************************************/

/****** Movie Favorite Page ******/
.movie-favorite-box{
    width: 100%;
    max-height: auto;
    padding: 30px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.movie-favorite-empty{
    width: 100%;
    /* display: none; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert-modal{
    flex-direction: column;
    width: 50%;
    height: 350px;
    border-radius: 5px;
    background-color: #000;
    border: 1px solid;
    box-shadow: -1px -1px 8px #fcd0bf;
}
.alert-close{
    width: 100%;
    height: 50px;
    padding-right: 20px;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    /* border: 1px solid red; */
}
.alert-content{
    width: 100%;
    height: calc(100% - 60px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
}
.fileVideo-box{
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 2px solid #dc3545;
    border-radius: 50%;
    color: #b02a37;
}
.alert-btn{
    color: #b02a37;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-bottom: 1px solid;
    background-color: rgba(44, 44, 44, 0.1);
    cursor: pointer;
}

/*****************************************************************/
@media screen and (max-width:1200px) {
    
}
@media screen and (max-width:997px) {
    .movie-filter-box{
        width: 80%;
        height: 100%;
        /* border: 1px solid blue; */
    }
    .movie-container{
        width: 100%;
        /* border: 1px solid seagreen; */
    }
    .movie-list-box{
        justify-content: center;
    }
    .movie-detail-container{
        height: auto;
    }
    .movie-info-wrap{
        flex-direction: column;
        align-items: center;
    }
    .movie-box{
        width: 100%;
    }
    .recommand-list .movie-info {
        padding: 5px;
    }
    .movie-info{
        width: 100%;
        padding: 40px;
        flex-direction: column;
    }
    .movie-favorite-box{
        justify-content: center;
    }
    .list-wrap{
        width: 90%;
        height: 400px;
    }
    .list-wrap:hover {
        width: 100%;
        height: 450px;
    }
    .movie-page-container{
        flex-direction: column;
        align-items: center;
    }
    .movie-filter-box{
        width: 90%;
        height: 100%;
        /* border: 1px solid blue; */
    }
    .movie-container{
        width: 90%;
        /* border: 1px solid seagreen; */
    }
}

@media screen and (max-width:700px) {
    
}