.d-flex{
    display: flex;
}

.main-wrap{
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
h1, p {
    margin: 0;
}

/****** Home Area ******/
.movie-container{
    height: calc(100% - 90px);
}
.home-movie-box{
    height: calc(100% - 600px);
}

/****** Movie Detail Area ******/
.movie-detail-container{
    width: 100%;
    height: 100%;
    padding-top: 30px;
}
.movie-info-wrap{
    width: 100%;
}
.movie-box{
    width: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.movie-bg-img{
    width: 300px;
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.movie-info{
    width: 50%;
    padding: 20px;
    flex-direction: column;
}
.movie-main{
    padding: 20px 0;
}
.movie-main h1 {
    font-size: 65px;
    font-weight: 400;
    padding: 10px 0;
}
.movie-main p{
    font-size: 25px;
    padding: 0 0 20px 0;
}
.icon-box {
    width: auto;
    padding-right: 20px;
    text-align: start;
}
.icon-box span {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
}
.span-box{
    width: auto;
    text-align: start;
    padding-right: 20px;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
    color: #b02a37;
    letter-spacing: -1px;
}

.movie-overview{
    padding: 30px 0;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.movie-etc{
    padding: 20px 0;
    border-bottom: 3px solid #fff;
}
.etc-item{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.badge-box{
    font-weight: 400;
    width: 100px;
    font-size: 15px;
    margin-right: 10px;
}
.etc-item p{
    letter-spacing: -1.2px;
}
.movie-video{
    display: flex;
    color: #fe4536;
    padding: 25px 10px;
    cursor: pointer;
}
.movie-video p {
    font-size: 16px;
    margin-left: 7px;
}

.sub-btn-wrap{
    width: 100%;
    padding: 30px;
    margin-top: 20px;
    /* border: 1px solid; */
}
.sub-btn-wrap button {
    padding: 20px;
    border-radius: 10px;
    margin: 0 5px;
    font-size: 15px;
    color: #747691;
    border: 1px solid #ecedff;
    background-color: lightgray;
    cursor: pointer;
}
.click {
    color: white !important;
    border: 1px solid #fff !important;
    background-color: #fe4536 !important;
}

.movie-review-wrap{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid;
}
.review-container{
    display: block;
    width: 100%;
    height: 150px;
    padding-top: 5px;
    border-bottom: 1px solid #eee;
}
.review-author{
    height: 25px;
    padding-top: 3px;
    color: #eee;
    font-weight: 500;
}
.review-author p {
    padding: 0 10px;
}
.review-content{
    height: calc(100% - 55px);
    padding: 5px 10px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 15px;
    font-weight: 300;
}
.review-more{
    height: 25px;
    text-align: end;
}
.review-container button{
    font-size: 15px;
    color: white;
    border-radius: 5px;
    background-color: #fe4536;
    cursor: pointer;
}
.review-container.close {
    height: 250px;
}

.movie-recommand-list-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    margin-top: 20px;
    border: 2px solid;
}
.recommand-list{
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.recommand-list:hover{
    overflow: visible;
}
.overlay {
    padding: 0;
}

/***** Movide Detail Video Modal *****/
.modal-wrap{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 1;
    background-color: #747691;
}
.video-modal{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.close-btn{
    width: 100%;
    text-align: right;
    padding: 10px;
    color: #b02a37;
}


@media screen and (max-width:1200px) {
    
}
@media screen and (max-width:997px) {
    .movie-detail-container{
        height: auto;
    }
    .movie-info-wrap{
        flex-direction: column;
        align-items: center;
    }
    .movie-box{
        width: 100%;
    }
    .recommand-list .movie-info {
        padding: 5px;
    }
    .movie-info{
        width: 100%;
        padding: 40px;
        flex-direction: column;
    }
}